<!-- NG-ZORRO -->
<nz-layout>
  <nz-layout>
    <nz-header><img
      nz-image
      width="100px"
      height="100px"
      nzSrc="../assets/images/fruity-links.png"
      alt=""
    /></nz-header>
  </nz-layout>
  <nz-content>
    <div class="inner-content">
      <br>
      <br>
      <ng-container *ngIf="permalink"><h3 nz-typography>Your permalink has been generated and copied</h3></ng-container>

      <div class="result" *ngIf="!permalink">
        <h3 nz-typography>Input your URL</h3>
        <input nz-input class="url-input" nzSize="large" nzShape="round" placeholder="Enter your link" (ngModelChange)="onUrlChanged($event)" [(ngModel)]="targetUrl" [disabled]="loading"/>
      <br/>
      <div class="error-messages">
        <ng-container *ngIf="regexError">
          Please enter a valid URL. Starts with http:// or https://
        </ng-container>
      </div>
        <button nz-button nzType="primary" nzSize="large" nzShape="round" (click)="shortenUrl()" [disabled]="!submitEnabled()">
          <i nz-icon nzType="copy" *ngIf="!loading" nzTheme="outline"></i>
          <i nz-icon nzType="loading" *ngIf="loading" nzTheme="outline"></i>
          <ng-container *ngIf="!loading">Shorten</ng-container>
          <ng-container *ngIf="loading">Generating</ng-container>
        </button>
      </div>
      
      <div class="result" *ngIf="permalink">
        <button nz-button nzType="primary" nzSize="large" nzShape="round" (click)="reset()">
          <i nz-icon nzType="rocket"></i>
          Shorten another URL
        </button>      
      <br>
      <br>
        <nz-form-item>
          <nz-form-label [nzSpan]="10">Your original URL</nz-form-label>
          <nz-form-control nzHasFeedback>
            <input nz-input value={{oldTargetUrl}}>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="10">Your shortened URL</nz-form-label>
          <nz-form-control nzValidateStatus="success" nzHasFeedback>
            <input nz-input value={{permalink.shortenedUrl}}>
          </nz-form-control>
        </nz-form-item>

      </div>

    </div>
    
  </nz-content>
  <nz-footer>Permalink generator ©2022</nz-footer>