<!-- NG-ZORRO -->

<nz-layout>
  <nz-content>
    <div class="inner-content">
      <input nz-input class="my-input" nzSize="large" placeholder="Enter your link" [(ngModel)]="targetUrl" />
      <br/>
      <button nz-button nzType="primary" nzSize="large" nzShape="round" (click)="shortenUrl()" [disabled]="loading">
        <i nz-icon nzType="copy" *ngIf="!loading" nzTheme="outline"></i>
        <i nz-icon nzType="loading" *ngIf="loading" nzTheme="outline"></i>
        <ng-container *ngIf="!loading">Shorten</ng-container>
        <ng-container *ngIf="loading">Generating</ng-container>
      </button>
        <br/>
        <div class="result" *ngIf="permalink">
          {{permalink.shortenedUrl}}
        </div>
    </div>
  </nz-content>
  <nz-footer>Paty Design ©2022</nz-footer>