
  
nz-layout {
  height: 100vh;
}

  nz-content {
    padding: 50px 50px;
  }

  nz-footer {
    text-align: center;
  }

  .my-input {
    max-width: 50vw;
    padding: 10px;
  }

  .inner-content {
    background: #fff;
    padding: 24px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }